body{
	background-color: floralwhite;

}
.container{
    width: 1020px;
    text-align: center;
}

.footer {
    background-image: url(Images/footer-img.jpg);
    height: 150px;
    text-align: right ;
    padding-right: 90px;
    padding-top:50px;
}

.logo-img{
    float: left
}
.menu-head{
    float: left;
    background-image:url(Images/header-fon.jpg) ;
}

.header::after{
    display: block;
    content: "";
    clear: both;
}

.menu li a:hover {
    color: burlywood;

}

.menu {
	list-style-type: none;
	font-family: Times, "Times New Roman", serif ;
	font-size: 30px;
	border: 2px groove black;
    text-align: left;
    margin: 0px;
    padding: 94px;
    
}

 .head_goods {
 	color: black;
 	font-size: 18px;
 	font-weight: 200;
 	background-color: #eaeaea;
 }

 .short_goods{
 	color:#707070;
 	font-size: 14px;
 	font-style: italic;
 	line-height: 16px; 

 }

 .long_goods{
 	color: #484343;
 	font-size: 14px;
 	font-weight: 400;
 	line-height: 24px;
 	text-align: left;

 }

 .list_goods{
 	list-style-image: url(Images/galka.png);
 	font-style: italic;

 }
 .input{
 	width: 500px;
 	height: 20px; 
 	font-style: bold;
 	border-radius: 25px;
 	font-size: 15px;
 	font-family: "Comic Sans", cursive;
    text-transform: capitalize;
 }
/* Как вариант
form input[type="email"]:focus {
    color: green;
    background-color: bisque;
}
*/

form label:nth-child(3) input:focus{
    color: green;
    background-color: bisque;
    font-style: italic;
}


tr.thead td{
    height: 20px;
    
}
table{
    border-spacing: 0px;
    border-collapse: collapse;
    height: 200px;
    width: 600px;
    
}
td {
    border: 1px solid; 
    text-align: center;

}
td[rowspan="3"]{
    transform: rotate(-90deg);
}
 .img {
 	outline: 1px solid green;
 }
.img:hover{
    outline: none;
}

.katalog h1:first-letter, .katalog h3:first-letter {
    color: darkgoldenrod;
    font-style: italic;
}
 .send {
 	width:500px ;
 	height: 50px;
 	border-radius: 25px; 
 }
.goods-img{
    float: left;
}
.goods-opis{
    float: right;
    margin-right: 100px;
  
    
}
.both{
    display: block;
    content: "";
    clear: both;  
}
.buy{
    float: right;
    
}
.buy a{
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    font-size: 30px;
    background-color: green;
    float: right;
    margin: 20px 20px;
    width: 120px;
    overflow: hidden;
}

.buy a:hover{
    background-color: red;
    
}
.buy a:active{
    visibility: hidden;
}
.iphone-img{
    float: left;
}
.iphone-a a{
    float:left;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid black;
    background-color:grey;
    padding:20px;
    border-radius: 10px;
}